a,
a:visited,
a:active,
a:focus {
  color: #0091d9;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #ff6163;
}

.simple-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.arrow {
  font-size: 30px;
}

.slider {
  display: flex;
  width: 300px;
  overflow: hidden;
  margin: 0 10px;
}

.items {
  display: flex;
  position: relative;
  color: #444;
  font-size: 30px;
  right: 0;
  transition: right .3s;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: papayawhip;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid #444;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;

}